header{
  margin:0;
  padding: 0;
}


body {
  background-color: lightblue;
  margin: 0; /* Ajusta los márgenes para eliminar el espacio alrededor de la página */
  padding: 0; /* Ajusta el relleno para eliminar cualquier relleno predeterminado del navegador */
}


.footer{
  position:fixed;
  left: 4;
  bottom: 15%;
  height: 60px;
  width: 100%;
  margin: 0;
  padding: 0;
}


.derechos{
  text-align: center;
}

.Botones a{
  background-color: #6f7070; /* Cambia el color de fondo a tu preferencia */
  color: #000000; /* Cambia el color del texto a tu preferencia */
  padding: 10px 20px; /* Ajusta el espacio interno del botón */
  text-decoration: none;
  border-radius: 5px; /* Bordes redondeados */
  margin-bottom: 10px; /* Margen inferior entre los botones */
  cursor: pointer;
  align-items: center;
  list-style: none;
  font-weight: 500;
}
/* resaltar los botones al pasar el mouse */
.Botones a:hover {
  background-color: #000000;
  color: white;

}
nav {
  min-height: auto;
  position: relative;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.inicio{
  color: white;
}
#DatosPersonales{
  margin-top: 150px;
  height: 700;
  width: 100%;
  margin: 0;
  padding: 0;
}
h4{
  text-decoration: none;
  text-align: left;
}


.bxl-linkedin-square,
.bxl-github {
  font-size: 30px; /* Ajusta el tamaño */
  margin-right: 2px; /* añade margen derecho para separar los iconos */
  color: #0e76a8;
  display: inline-block;
  background-color: white;
  border-radius: 50%; /* Iconos tengan forma de círculo (opcional) */
  border: 1px solid #000;
}

.bxl-gmail{
  background-color: white;
  border: 1px solid #000;
  border-radius: 50%;
  font-size: 30px;
  color: #db4a39
}


.bxs-phone{
  border-radius: 50%;
  background-color: white;
  font-size: 22px;
  border: 1px solid #000;
}


.bxs-pin{
  border-radius: 50%;
  background-color: white;
  font-size: 20px;
  border: 1px solid #000;
  color: #db4a39
}
