
body {
    background-color: #272829; 
    margin: 10; /* Ajusta los márgenes para eliminar el espacio alrededor de la página */
    padding: 0; /* Ajusta el relleno para eliminar cualquier relleno predeterminado del navegador */
  }
  .footer{
    position:fixed;
    left: 4;
    bottom: 7.5%;
    height: 60px;
    width: 100%;
    margin: 0;
  }
  .bxl-linkedin-square,
  .bxl-github {
    font-size: 30px; /* Ajusta el tamaño */
    margin-right: 2px; /* añade margen derecho para separar los iconos */
    color: #0e76a8;
  }
  .bxl-gmail{
    font-size: 30px;
    color: #db4a39
  }
  .bxs-phone{
    font-size: 22px;
  }
  .bxs-pin{
    font-size: 20px;
    color: #db4a39
  }
  /* Estilos para los botones de navegación */
  .Botones {
    position: fixed;
    top: 25px; /* Ajusta la distancia desde la parte superior */
    right: 20px; /* Ajusta la distancia desde la derecha */
    z-index: 999; /* Asegura que los botones estén en la parte superior de otros elementos */
  }
  
  .Botones a {
    display: block;
    background-color: #6f7070; /* Cambia el color de fondo a tu preferencia */
    color: #fff; /* Cambia el color del texto a tu preferencia */
    padding: 10px 20px; /* Ajusta el espacio interno del botón */
    text-decoration: none;
    border-radius: 5px; /* Añade bordes redondeados */
    margin-bottom: 10px; /* Añade margen inferior entre los botones */
    cursor: pointer;
  }
  
  /* resaltar los botones al pasar el mouse */
  .Botones a:hover {
    background-color: #000000;
  }
  
  /* Estilos para los botones */
  .navbar {
    background-color: #333;
    color: #fff;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #fff; /* Cambia el color del texto de los enlaces a tu preferencia */
  }
  
  /* Estilo adicional para resaltar los enlaces activos */
  .nav-link.active {
    font-weight: bold; /* Cambia el estilo del texto del enlace activo a tu preferencia */
  }
  .Redes {
    display: inline-block; /* Coloca los íconos de LinkedIn y GitHub en línea */
  }
  #DatosPersonales{
    margin-top: 150px;
  }