/* Cuerpo del sitio */
body {
  font-family: 'San-Serif';
  margin: 0; 
  padding: 0;
  width: 100%;
  height: 100%;
}
.footer{
  background-color: black;
  bottom: 0;
  left: 0;
  position: relative;
  color:white;
  margin: 0;
  padding: 0;
}
.parrafo{
  text-align: justify;
}

.parrafo ul {
  list-style: none; /* Elimina la viñeta predeterminada */
  padding: 0; /* Elimina el espacio entre el borde del contenedor y el contenido de la lista */
}

.parrafo ul li::before {
  content: "\2022"; /* Utiliza un carácter Unicode (en este caso, el punto negro) como viñeta */
  color: #FF0000; /* Cambia el color de la viñeta, en este caso a rojo */
  font-weight: bold; /* Cambia el estilo del carácter de la viñeta (en este caso, negritas) */
}

.Botones{
  display: flex;
  color: white; /* Cambia el color del texto a tu preferencia */
  padding: 10px 20px; 
  text-decoration: none;
  position: relative;
  margin-bottom: 10px; /* Margen inferior entre los botones */
  cursor: pointer;
  align-items: center;
  list-style: none;
}
.bg-color-bl{
  background-color:#0B0B0B  !important
}

.color-wh{
  color:white !important
}

.border-color-wh{
  height: 0;
  margin: 0;
  overflow: hidden;
  border-top: 1px solid white;
}

nav .Botones:hover{
  color: #ffe7b4;
}

.home{
  display: flex;
  align-items: flex-start;
}
input{
  display: none;
}
label{
  display: none;
}
/* Contenido de la página*/
.main-content {
  background-color:#0B0B0B;
  width: 100%;
  text-align: center;
}
.main-content h1{
  color: white;
  font-size: 7vh;
  font-weight: 2vh;
  padding: 0;
  margin: 0;
  margin-left: 4rem;
  position: relative;
}
.main-content p{
  color: white;
  font-size: 1.6rem;
  padding: 0;
  margin: 0; 
}
.main-content h2{
  color: white;
  margin-left: 11rem;
  font-size: 7vh;
  margin: 0;
  padding: 0;
}
.main-content ul{
  margin: 0;
}
/* Contenido de la página HOME*/
.home{
  width: 100%;
  height: 50rem;
  flex-shrink: 0;
  background-image: url(../img/Home.png);
  background-repeat: no-repeat;
  background-position: right center;
  position: relative;
}
/* Contenido de la página Bio*/
.foto-cv {
  border-radius: 50%;


}
/* Contenido de la página Experiences*/
.experiencia{
  background-image: url(../img/Experiencia.png);
  width: 100%;
  height: 50rem;
  flex-shrink: 0;
  background-repeat: no-repeat;
}
/* Contenido de la página Studies*/

/* Contenido de la página Competencias*/
.competencias{
  width: 100%;
  height: 50rem;
  flex-shrink: 0;
  background-image: url(../img/Estudios.png);
  background-repeat: no-repeat;
  background-position: right center;
  position: relative;
}

/* Contenido del footer*/
.contacto p{
  padding: 0;
  margin: 0;
  margin-left: 2rem;
}
.fin{
  background-color: black;
  text-align: center;
  padding: 0;
  margin: 0;
}
.bxl-linkedin-square{
  font-size: 30px;
  color: #0e76a8;

}
.bxl-github{
  font-size: 30px;
  color: white;
  margin-left: 3rem;
  margin-top: 1vh;
}

.bxl-gmail{
  vertical-align: bottom;
  font-size: 20px; 
  color: #db4a39;
  background-color: white;
  margin-left: 3rem;
  border-radius: 5px;
  
}

.foto-cv{
  width: 100%;
  object-fit: cover;
}

@media all and (max-width: 700px) {     /*cuando el dispositivo es como máximo de 700px*/

  input:checked~ul {
    display: block;
  }

  input:checked~label { /*muestra todo el contenido de todas las etiquetas label*/
    background: #fffefe;
  }

  label:hover {      /*cambia el color de ☰*/
    background: darkgray;
  }

  li { 
    margin: 0px;
    text-align: left;
    display: block;
  }
  li a{
    position: relative;
  }

  label {      /* dibuja la etiqueta ☰  con formato botón */
    box-sizing: border-box;
    display: block;
    border: 1px solid #ffe7b4;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    background-color: rgb(255, 255, 255);
  }
  .main-content p{
    margin-left: 1vh;
    margin: 1vh;
    font-size: 1.5rem;
  }
  .main-content h2{
    font-size: 2.5rem;
  }
  .main-content h1{
    font-size: 3vh;
    text-align: left;
    margin-left: 2vh;

  }
}
