header{
  margin:0;
  padding: 0;
}


body {
  font-family: 'Serif';
  background-color: black;
  margin: 0; /* Ajusta los márgenes para eliminar el espacio alrededor de la página */
  padding: 0; /* Ajusta el relleno para eliminar cualquier relleno predeterminado del navegador */
}


.footer{
  position: relative;
  background-color: #646464;
  width: 100%;
  margin: 0;
  padding: 0;
}


.derechos{
  background-color: #646464;
  position: relative;
  bottom: 10%;
  text-align: center;
  align-items: center;
}
.Botones a{
  background-color: black; /* Cambia el color de fondo a tu preferencia */
  color: white; /* Cambia el color del texto a tu preferencia */
  padding: 10px 20px; 
  text-decoration: none;
  border-radius: 5px; /* Bordes redondeados */
  margin-bottom: 10px; /* Margen inferior entre los botones */
  cursor: pointer;
  align-items: center;
  list-style: none;
  font-weight: 400;
}
/* resaltar los botones al pasar el mouse */
.Botones a:hover {
  background-color: white;
  color: black;

}
nav {
  height: 110px;
  background-color: #646464;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0px 2px 4px rgba(59, 59, 59, 0.2);
}
nav h1{
  color: #FFF;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.inicio{
  color: white
}
section{
  height: 700px;
  width: 100%;
  margin: 0;
  padding: 0;
}
.presentacion h1{
  color: #f1f1f1;
    position: absolute;
    top: 10vh;
    left: 14vh;
    font-size: 80px;
    font-weight: 700;
}
.presentacion p{
  color: #8D9297;
    position: absolute;
    top: 22vh;
    left: 14vh;
    font-size: 35px;
    font-weight: 300;
    line-height: 1.1;
}
.experiencia h2{
  color: #f1f1f1;
  position: absolute;
  top: 10vh;
  left: 14vh;
  font-size: 80px;
  font-weight: 700;
}
.experiencia p{
  color: #8D9297;
  position: absolute;
  top: 22vh;
  left: 14vh;
  font-size: 35px;
  font-weight: 300;
  line-height: 1.1;
}
.main-content{
  background-image: url(../img/descending-binary-programming-codes-pa3ner41wj0gyk8o.jpg);
}
.contacto p{
  margin-top: 0;
}


.bxl-linkedin-square,
.bxl-github{
  font-size: 30px; /* Ajusta el tamaño */
  margin-right: 2px; /* añade margen derecho para separar los iconos */
  color: #0e76a8;
  display: inline-block;
  background-color: white;
  border-radius: 50%; /* Iconos tengan forma de círculo (opcional) */
  border: 1px solid #000;
}

.bxl-gmail{
  background-color: white;
  border: 1px solid #000;
  border-radius: 50%;
  font-size: 30px;
  color: #db4a39
}


.bxs-phone{
  border-radius: 50%;
  background-color: white;
  font-size: 22px;
  border: 1px solid #000;
}


.bxs-pin{
  border-radius: 50%;
  background-color: white;
  font-size: 20px;
  border: 1px solid #000;
  color: #db4a39
}
